<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HDH Meal Planner</title>

</head>

<style>
/* The Modal (background) */
.modal {
display: none;
position: fixed;
z-index: 1;
padding-top: 100px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: black;
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
width: 90%;
max-width: 1200px;
}
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


</style>
<body>

Welcome to HDH Meal Planner!

<ul class="quotes">


<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <select id="restaurants" onchange="restaurantSelection()">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
</div>


<ul class="quotes">
    <div class="row">
        <div class="mealsColumn" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <button onclick="openModal(1,2)">Click me</button>
        </div>
        <div class="mealsColumn" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <p>Some text..</p>
        </div>
        <div class="mealsColumn" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <p>Some text..</p>
        </div>
        <div class="mealsColumn" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <p>Some text..</p>
        </div>
        <div class="mealsColumn" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <p>Some text..</p>
        </div>
        <div class="mealsColumn" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <p>Some text..</p>
        </div>
        <div class="mealsColumn" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <p>Some text..</p>
        </div>
    </div>

<script>
    var mealType = 0;
    var dayOfWeek = 0;

    function openModal(mealTypei, dayOfWeeki) {
        mealType = mealTypei;
        dayOfWeek = dayOfWeeki;
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    function restaurantSelection(){
        console.log(document.getElementById("restaurants").value);
        console.log(mealType);
        console.log(dayOfWeek);
    }
</script>
</body>
</html>