<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HDH Meal Planner</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
Welcome to HDH Meal Planner!

<ul class="quotes">

    <% for(var i=0; i<Cafe_Ventanas.length; i++) {%>
    <li>
        <span><%= Cafe_Ventanas[i].name %></span>
        <span><%= Cafe_Ventanas[i]['price($)'] %></span>
        <span><%= Cafe_Ventanas[i].calories %></span>
    </li>
    <% } %>

    <div class="row">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</ul>


</body>
</html>